body {
  margin: 0px;
background: rgb(149, 182, 149);
}

#content {
  background: #ededed;
margin: 0px;
background: linear-gradient(#ededed, rgb(217, 226, 217) 32%, rgb(149, 182, 149));
display: inline-block;
padding-bottom: 3em;
padding-top: 7em;
width: 100%;
}

.header {
  text-transform: uppercase;
text-align: center;
font-family: 'American Typewriter', 'sans-serif';
font-weight: 100;
font-size: 7vw;
margin: 1em;
cursor: pointer;
margin-top: 0;

}

.header.start {
    background: rgb(124, 237, 186);
    width: 31%;
    margin: 0 auto;
    font-size: 2em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0 3px rgba(51, 51, 51, 0.44);
    top: 3em;
    position: relative;
    color:black;
}

.header.title {
color: white;
}

.splash {
  position: absolute;
  height: 200%;
  width: 100%;
  background: linear-gradient(rgba(47, 7, 50, 0.88) 0%, rgba(15, 18, 68, 1) 44%, rgba(1, 6, 21, 1) 100%);
  top: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  padding-top: 7em;
}


.sounds {
  margin: 0 3em;
  font-size: 2.1vw;
  display: inline-block;
}

.centersounds {
  display: -webkit-flex;
     display: flex;
     -webkit-align-items: center;
     align-items: center;
     -webkit-justify-content: center;
     justify-content: center;
     /* You can set flex-wrap and flex-direction individually */
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-flex-wrap: wrap;
     flex-wrap: wrap;
     /* Or do it all in one line with flex flow */
     -webkit-flex-flow: row wrap;
     flex-flow: row wrap;
     /* tweak the where items line up on the row */
     /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
     -webkit-align-content: flex-end;
     align-content: flex-end;
}

.centersounds> .circle {
  -webkit-filter: saturate(4);
  background-size: cover;
  background-repeat: no-repeat;
margin: 1em;
height: 18.8em;
width: 18.8em;
cursor: pointer;
border-radius: 50%;
box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
float: left;
}


.overlay {
position: absolute;
background: rgba(2, 1, 1, 0.81);
height: 200%;
width: 100%;
z-index: 1;
display:none;
top:0;
transition: 0.2s ease-out;
}

.overlay:active {
background: rgba(0, 0, 0, 0.85);
}

.overlayheader {
  z-index: 3;
color: darkgrey;
position: relative;
}

.pulse{
	animation: expand 300ms linear forwards, pulse 1.5s infinite 0s;
	-webkit-animation: expand 300ms linear forwards, pulse 0.5s infinite 0s;
  -webkit-filter: hue-rotate(115deg) saturate(4)  !important;
  z-index: 2;
position: relative;
}

.gitlink {
    text-decoration: none; color: black;
}

.git {
  font-size: 1em;
  font-family: 'American Typewriter', sans-serif;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 1em;
  }



@media only screen and (min-device-width: 640px) {

#content {
  padding-top: 3em;
}

.splash {
    padding-top:3em;
}

.sounds {
margin: 0 2.6em;
font-size: 1.13vw;
}

.circle:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}

}


@media only screen and (max-width: 640px) {

.sounds {
font-size: 2.1vw;
}
.header {
margin-bottom: 1em;
}

}


/* animation */


@keyframes pulse {
	0% {
		-webkit-transform: scale(1.3);

	}
	50% {
		-webkit-transform: scale(1.33);
	}
	100% {
		-webkit-transform: scale(1.3);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.3);

	}
	50% {
		-webkit-transform: scale(1.33);
	}
	100% {
		-webkit-transform: scale(1.3);
	}
}

@-keyframes expand {
	0% {
		-webkit-transform: scale(1);

	}
	01% {
		-webkit-transform: scale(1);

	}
	50% {
		-webkit-transform: scale(1.4);
	}
	100% {
		-webkit-transform: scale(1.3);
	}
}

@-webkit-keyframes expand {
	0% {
		-webkit-transform: scale(1);

	}
	01% {
		-webkit-transform: scale(1);

	}
	50% {
		-webkit-transform: scale(1.4);
	}
	100% {
		-webkit-transform: scale(1.3);
	}
}



.select-expand {
  -webkit-animation: expand 1000ms linear infinite both;
  animation: expand 1000ms linear infinite both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/yb0Knf */
.select-collapse {
  -webkit-animation: shrinkanim 1000ms linear forwards;
  animation: shrinkanim 1000ms linear forwards;
}

/* Generated with Bounce.js. Edit at http://goo.gl/7NlKMa */

@-webkit-keyframes shrinkanim {
  0% { -webkit-transform: matrix3d(1.3, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.3, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(1.146, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.146, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(1.036, 0, 0, 0, 0, 1.036, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.036, 0, 0, 0, 0, 1.036, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(0.984, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.984, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes shrinkanim {
  0% { -webkit-transform: matrix3d(1.3, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.3, 0, 0, 0, 0, 1.3, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { -webkit-transform: matrix3d(1.146, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.146, 0, 0, 0, 0, 1.146, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { -webkit-transform: matrix3d(1.036, 0, 0, 0, 0, 1.036, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.036, 0, 0, 0, 0, 1.036, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { -webkit-transform: matrix3d(0.984, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.984, 0, 0, 0, 0, 0.984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.972, 0, 0, 0, 0, 0.972, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
